/*###################  nav bar ###############*/

nav
{
    width:100%;
    

}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding:0;
}

ul.topnav li{
    list-style:none;
    float: left;
}

ul.topnav li.topnav-right {
    list-style: none;
    float:right;
}

ul.topnav li a {
    display:block;
    text-decoration: none;
    min-height:16px;
    text-align: center;
    padding:14px;
    text-transform:uppercase;
    color:#666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color:#fff;
}

ul.topnav li.dropdown {
    display: none;
}

/*   ######### NAV BAR ENDS   ############  */

/*############### Mobile ################*/

@media screen and (max-width:680px)
{
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }
    ul.topnav li.dropdown {
        display:block;
        float:right;
    }

    ul.topnav.responsive li.dropdown
    {
        position: absolute;
        top:0;
        right:0;
    }
    
    ul.topnav.responsive {
        position: relative;

    }
    ul.topnav.responsive li {
        display:inline;
        float:none;
    }

    ul.topnav.responsive li a{
        display:block;
        text-align:left;
        
    }
}




/*######################## Footer ########################*/
.bg-footer {
    background-color:#222;
    padding-top: 15px;
    -webkit-padding-top: 15px;
}

.footerHead
{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 20px;
}

.col-md-4 ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.fa-inverse {
    background-color: black;
    border-radius: 100%;
}

.footer-container .row 
{
    margin-bottom: 50px;
    margin-top: 50px;
}



