#mainContainer {
  min-height: 90vh;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 50px;
  }

  h3 {
    font-size: 25px;
    margin-top: 10px;
  }

  .card {
    margin-bottom: 30px;
    padding: 10px !important;
  }
}
