#this is 404 error page to show.

ErrorDocument 404 http://localhost/EBA/404.php

# Extra Security Headers
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
</IfModule>

# Disable server signature 
 ServerSignature Off