.cert {
  margin: auto;
  background-image: url(../cert-images/synergy2-cert.jpg);
  width: 1200px;
  height: 765px;
  background-repeat: no-repeat;
  background-size: 1200px 765px;

  .para {
    padding-top: 350px !important;
  }

  span {
    color: blue;
  }

  .footer-text {
    font-size: 20px;
  }

  div .center {
    display: block;
    margin-left: 46%;
  }

  .validate {
    color: red !important;
  }

  .center {
    display: block;
    margin-left: 46%;
  }
}
